
@{
    ViewBag.Title = "QuanLyPhong";
    Layout = "~/Views/Shared/layoutteacher.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Areas/admin/Content/CSS/GiaoVien.css">

<div class="container">
    <div class="col-12 text-center" style="padding:20px">
        <h2 style="font-weight: bold">QUẢN LÝ PHÒNG</h2>
    </div>
    <div class="row">
        <div class="function_btn"
             style=" display: flex;justify-content: end; margin-top: 8px; margin-bottom: 8px; margin-right: 32px;">
            <div class="add_btn" style="margin: 10px">
                <!-- Colored mini FAB button -->
                <button onclick="showModal()"
                        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
                        style="background-color: #35d66c">
                    <i class="fa-solid fa-plus" style="margin: 10px"></i>
                </button>
            </div>
            <script>
                function showModal() {
                    var myModal = new bootstrap.Modal(document.getElementById('ThemPhong'));
                    myModal.show();
                }

            </script>
        </div>
        <div class="modal fade" id="ThemPhong" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-4 ps-5">
                                <h6 class="mb-0 font-weight-bold">ID Phòng</h6>
                            </div>
                            <div class="col-md-8 pe-5">
                                <input type="text" class="form-control" disabled />
                            </div>
                            <div class="col-md-4 ps-5">
                                <h6 class="mb-0 font-weight-bold">Tên phòng</h6>
                            </div>
                            <div class="col-md-8 pe-5">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-4 ps-5">
                                <h6 class="mb-0 font-weight-bold">Tầng</h6>
                            </div>
                            <div class="col-md-8 pe-5">
                                <select name="khoa" id="khoa" style="width: 100%">
                                    <option value="1">Tầng 1</option>
                                    <option value="2">Tầng 2</option>
                                    <option value="3">Tầng 3</option>
                                </select>
                            </div>
                            <div class="col-md-4 ps-5">
                                <h6 class="mb-0 font-weight-bold">Tòa</h6>
                            </div>
                            <div class="col-md-8 pe-5">
                                <select name="hd" id="hd" style="width: 100%">
                                    <option value="1">L</option>
                                </select>
                            </div>
                            <div class="col-md-4 ps-5">
                                <h6 class="mb-0 font-weight-bold">Loại phòng</h6>
                            </div>
                            <div class="col-md-8 pe-5">
                                <select name="phong" id="phong" style="width: 100%">
                                    <option value="6">6 người</option>
                                    <option value="8">8 người</option>
                                </select>

                            </div>
                            <div class="col-md-4 ps-5">
                                <h6 class="mb-0 font-weight-bold">Giá phòng</h6>
                            </div>
                            <div class="col-md-8 pe-5">
                                <input type="text" class="form-control" placeholder="VNĐ" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary">Thêm phòng</button>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID phòng</th>
                        <th scope="col">Tên phòng</th>
                        <th scope="col">Tầng</th>
                        <th scope="col">Tòa</th>
                        <th scope="col">Loại phòng</th>
                        <th scope="col">Giá phòng</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.rooms)
                    {
                        <tr>
                            <td>@item.IDRoom</td>
                            <td>@item.Name</td>
                            <td>@item.Floor</td>
                            <td>@item.Building</td>
                            <td>@item.RoomType</td>
                            <td>@item.PriceRoom</td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>



